<form method='post' action='/oceans'>
  Name: <input type='text' name='ocean[name]' autofocus>
  <br><br>
  Image: <input type='text' name='ocean[image]'>
  <br><br>
  Total Area: <input type='text' name='ocean[total_area]'>
   <br><br>
  Percent of Earth: <input type='text' name='ocean[percent_of_earth]'>
  <br><br>
  Max Depth: <input type='text' name='ocean[max_depth]'>
  <br><br>
  Etymology: <input type='text' name='ocean[etymology]'>
  <br><br>
  <button>You Discovered A New Ocean?!?</button>
</form>