This is the homepage.
<br><br>
<a href="/gotoA">A</a>
<br><br>
<a href="/gotoB">B</a>
<br><br>
<form action='/form' method='get'>
  <input type="text" name="choice">
  <button>Travel Safe</button>
</form>