- numbers = (0..10).to_a
- numbers.each do |number|
  %h6=number

%div.happy this is happy text
%div#sad this is sad text

.super this is super text
#bad this is bad text

.awesome#cool this is both awesome and cool

%input.superclass.a.b.c{:type => 'text', :autofocus => true}

%h1 hello world
%p this is a p tag
%span= 3**9

%h1 <div>hello</div>

%div
  %h2 this is h2
  %h3 this is h3
  %p
    %span span1
    %span span2